body {
    background-color: #D3D3D3;
}

.wrapper {
    border: 10px solid red;
}

/*This is a CSS comment*/
body {
    background-color: #FFCA33;
}

/*This is another CSS comment*/
.wrapper {
    border: 10px solid red;
}
